<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.firstname %></h1>
    <p>
      Welcome on board! Your appointment was set successfully. If you want to check your appointment, <%= link_to 'login', root_url %> here.<br>
    </p>
    <p>Stay safe!</p>
  </body>
</html>
