<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, Doc <%= @doc.firstname %></h1>
    <p>
      You have clinic in <%= @buffer_minutes %> minutes. See you then.<br>
    </p>
    <p>Be safe!</p>
  </body>
</html>
