<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.firstname %></h1>
    <p>
      Sorry to inform you that your appointment has been rescheduled to <%= @schedule.strftime("%B %d, %A") %> at <%= @schedule.strftime("%I:%M %p") %>. Please <%= link_to 'login', root_url %> to schedule another appoitnment.<br>
    </p>
    <p>Hope to see you again and have a great day!</p>
  </body>
</html>
