<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.firstname %></h1>
    <p>
      It is time for your consultation. Please step inside the doctor's room.<br>
    </p>
  </body>
</html>
