<div class="container">
  <div class="row">
    <div class="card-body">
      <div class="container">
        <div class="row mb-3">
          <div class="col-md-12">
              <div class="row">
                <div class="col">
                  <div class="card shadow mb-3">
                    <div class="card-header py-3">
                      <p class="text-primary m-0 font-weight-bold">
                        Queue for today
                      </p>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive table results clinic_list text-nowrap">
                        <% if @in_progress.present? %>
                          <span class="badge badge-info" style="margin-bottom:1rem;">
                            <h4>
                              In Progress:
                              <%= @in_progress&.patient&.fullname %>
                            </h4>
                          </span>
                        <% end %>
                        <table class="table">
                          <thead>
                            <tr>
                              <th class="text-nowrap" id="trs-hd"><b>Position</b></th>
                              <th class="text-nowrap" id="trs-hd"><b>Patient Name</b></th>
                              <th class="text-nowrap" id="trs-hd"><b>Type</b></th>
                              <th class="text-nowrap" id="trs-hd"><b>Status</b></th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @clinic_queues.each.with_index(1) do |cq, i| %>
                              <tr class="text-nowrap">
                                <td class="text-nowrap">
                                  <%= i %>
                                </td>
                                <td class="text-nowrap">
                                  <%= cq.patient.fullname %> 
                                    <% if cq.patient.fullname == current_user.fullname %>
                                      (You)
                                    <% end %>
                                  <% if cq.skip_for_now? %>
                                    <span class="badge badge-pill badge-warning">
                                      Skipped
                                    </span>
                                  <% end %>
                                </td>
                                <td class="text-nowrap">
                                  <% if cq.queue_type == "walkin" %>
                                    Walk-in
                                  <% else %>
                                    Appointment
                                  <% end %>
                                </td>
                                <td class="text-nowrap">
                                  <% if cq.status == "in_queue" %>
                                    In Queue
                                  <% elsif cq.status == "in_progress" %>
                                    In Progress
                                  <% else %>
                                    Finished
                                  <% end %>
                                </td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>